@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Kanit:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,700;1,300;1,400;1,500&family=Rubik+80s+Fade&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}
:root {
  --grad--gray: #85827e;
  --grad--lightgray: #e3dddd;
  --rgba--blur: rgba(255, 255, 255, 0.5);
  --grad--blueskay: #0196f9;
  --grad--blueBlack: #03086f;
  --text-orange: #f67e05;
  --textNav-blue: #2196f3;
  --back--lightblue: #28d8db;
  --text--footblue: #007bff;

  --box--lightgray: #c6dce0cc;

  --text--graybrown: #333333;
  --text--gray: #555555;
  --text--bronze: #85782d;
  --text-bronzeBlack: #704118;

  --bord-white: #ffffff;
  --bord--ligtgwhite: #fff;
  --back-grayblack: #333;
  --text-yelloubronze: #c2bc95;
  --box--blue: #0062cc;
  --box--greenblack: #253333c4;
  --box--ligthblueskay: #48a2bd;
  --gradbox-graylight: #b8b1b1;
  --gradbox--whiteyellou: #fafaf8;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background: linear-gradient(
    var(--grad--gray),
    var(--grad--lightgray),
    var(--grad--gray)
  );
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Estilos Header y logo*/
.navbar__header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  background: #3ccbce;
  border-bottom: 1px solid white;
  z-index: 1;
  background-color: var(--rgba--blur);
  backdrop-filter: blur(5px);
  transition: 1s ease-in-out;
}
.navbar__logo {
  width: 10%;
  height: 100%;
  margin-right: 10%;
}

.logo img {
  width: 100%;
}

/* Estilos navbar  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 100px 0px 0px;
  margin-right: 20%;
}

.navbar__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 100px 0px 0px;
  gap: 40px;
}

.navbar__list a {
  color: var(--textNav-blue);
  font-size: 22px;
  font-weight: 300;
  display: block;
  height: 100%;
}

.navbar__list li {
  display: inline-block;
  text-align: center;
  width: 50%;
  border: 6px solid transparent;
  border-top-color: var(--bord--ligtgwhite);
  height: 40px;
  opacity: 1;
  transition: 1s ease-in-out;
}

/* Estilos sub-menu */
.dropdown .dropdown__menu {
  display: none;
  position: absolute;
  width: 250px;
  top: 70%;
  background-color: var(--back--lightblue);
  visibility: hidden;
}
.dropdown__menu li {
  text-align: center;
  width: 100%;
  border: 6px solid transparent;
  border-top-color: var(--bord--ligtgwhite);
  box-shadow: inset 0 0 1rem var(--box--lightgray);
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  transform: translateX(-50px);
  transition: 0.1s ease-in-out;
}

/* oculta menu hamburguesa */
#menu__toggle,
.menu__label,
.menu__btn__icon {
  display: none;
}

/* estilos para la secciòn de portada */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
  border: 1px solid rgb(238, 240, 244);
  animation: backgrountshow 5s infinite;
}

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-direction: column;
  margin-top: 15vh;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(9px);
  box-shadow: rgba(102, 108, 113, 0.498) 0px 0px 5rem inset,
    rgb(137, 180, 215) 0px 0px 2rem inset;
  padding: 32px;
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--bord--ligtgwhite);
  border-image: initial;
  border-radius: 16px;
  transition: 0.5s ease;
}
.hero__container:hover {
  animation: fondo2 1s ease;
}
.hero__text {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.hero__text h1 {
  display: inline-block;
  justify-content: center;
  font-size: 3rem;
  padding: 40px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(
    45deg,
    var(--gradbox-graylight) 0%,
    var(--text-orange) 50%,
    var(--text-bronzeBlack) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 10px;
  animation: fondo 3s ease infinite;
}

.hero__text p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
  font-size: 24px;
  font-weight: 300;
  color: var(--grad--blueBlack);
  gap: 20px;
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box--blue) 0px 0px 2rem inset,
    var(--box--greenblack) 0px 0px 1rem inset,
    var(--box--ligthblueskay) 0px 0px 1rem;
  padding: 10px;
  background: var(--box--blue);
  border-radius: 12px;
  border-color: var(--back--lightblue);
  transition: all 1s ease 0s;
}
/* efecto para boton de portada */
.hero__button:hover {
  box-shadow: inset 0 0 0.5rem var(--text--bronze),
    0 0 1rem var(--grad--lightgray), inset 0 0 1rem var(--box--greenblack),
    0 0 2rem var(--text-bronzeBlack);
  transform: scaleX(1.1) scaleY(1.1);
  transform-origin: left top;
}

.hero__button a {
  font-size: 20px;
  font-weight: lighter;
  color: white;
}
/* Estilos edificios de portada */
.skyline {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50%;
  width: 100%;
}
.building {
  width: 35px;
  margin: 0 10px;
  border-radius: 2px;
}
.building__1 {
  left: 50px;
  height: 138px;
}
.building__2 {
  left: 120px;
  height: 206px;
}
.building__3 {
  left: 220px;
  height: 100px;
}
.building__4 {
  left: 300px;
  height: 206px;
}
.building__5 {
  left: 380px;
  height: 165px;
}
.building__6 {
  left: 500px;
  height: 134px;
}
.building__7 {
  left: 600px;
  height: 206px;
}
.building__8 {
  left: 700px;
  height: 241px;
}
.building__9 {
  left: 820px;
  height: 100px;
}
.building__10 {
  left: 900px;
  height: 134px;
}

/* Estilos sección información "Nosotros" */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 70px;
}
/* Estilos Box de texto de informacion */
.about__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 15%;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 490px;
  height: 490px;
  padding: 90px;
}

.about__text1 {
  background: linear-gradient(
    90deg,
    var(--gradbox--whiteyellou),
    var(--gradbox-graylight)
  );
  clip-path: ellipse(50% 40% at 50% 50%);
}
.about__text2 {
  background: linear-gradient(
    90deg,
    var(--gradbox-graylight),
    var(--gradbox--whiteyellou)
  );
  clip-path: ellipse(50% 40% at 50% 50%);
}
.about__text3 {
  background: linear-gradient(
    90deg,
    var(--gradbox--whiteyellou),
    var(--gradbox-graylight)
  );
  clip-path: ellipse(50% 40% at 50% 50%);
}
.box span {
  color: var(--text-bronzeBlack);
  font-size: 32px;
  text-align: center;
}
.box p {
  color: var(--text--graybrown);
  font-size: 24px;
  text-align: center;
}
/* Estilos contenedor de información */
.about__containerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 40px 20px;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 10px;
}

.text__info {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 10px;
  width: 50%;
}
.intro h2 {
  color: var(--text-bronzeBlack);
  font-size: 36px;
  margin-bottom: 50px;
  text-align: start;
}

.intro p {
  color: var(--text--gray);
  font-size: 18px;
  line-height: 1.5;
  text-align: start;
  margin-bottom: 40px;
}
/* Estilos para los videos */
.info__video {
  width: 50%;
  margin-top: 50px;
  overflow: hidden;
}

.info__video video {
  width: 100%;
  border-radius: 12px;
}

/* Estilos para la sección de servicios */
#services {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  height: 100vh;
}
.service__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text__service {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 10px;
  width: 50%;
}
/* Estilos para las tarjetas de sección de servicios */
.cards {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card {
  display: block;
  text-align: center;
  position: relative;
  height: 162px;
  width: 100%;
  max-width: 250px;
  color: rgb(35, 101, 243);
  font-size: 1.5rem;
  background-color: rgb(153, 196, 232);
  margin: 20px auto;
  padding: 30px 20px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(202, 221, 220);
  border-image: initial;
  border-radius: 25px;
}

/* Estilos para la sección de Contacto */

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid#333;
}

.contact__info {
  flex-basis: 40%;
  text-align: center;
  animation: fadeInUp 1s ease;
}

.contact__info h3 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--text--bronze);
}

.contact__info p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: var(--text--gray);
}

.contact__info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contact__info li {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact__info li i {
  margin-right: 10px;
  color: var(--text--footblue);
}

.contact__form {
  flex-basis: 55%;
  animation: fadeInRight 1s ease;
}

.contact__form h3 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--text--bronze);
}

.contact__form form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.contact__form input,
.contact__form textarea {
  border: none;
  border-bottom: 1px solid var(--bord--ligtgwhite);
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
  font-size: 1.2rem;
}

.contact__form input:focus,
.contact__form textarea:focus {
  outline: none;
  border-color: var(--back--lightblue);
}

.contact__form button {
  border: 1px solid var(--bord--ligtgwhite);
  background-color: var(--grad--blueskay);
  border-radius: 10px;
  width: 150px;
  color: var(--bord--ligtgwhite);
  padding: 10px 20px;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact__form button:active {
  border-radius: 50%;
}

/* Estilos para el footer */
footer {
  display: flex;
  justify-content: start;
  flex-direction: column;

  background-color: var(--back-grayblack);
  color: var(--bord--ligtgwhite);
  padding: 50px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 auto;
}

.footer__column {
  width: 30%;
  margin-bottom: 30px;
}

.footer__column h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: var(--bord--ligtgwhite);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin-bottom: 10px;
  font-size: 14px;
  display: flex;
  justify-content: start;
  align-items: center;
}

ul li i {
  margin-right: 10px;
  font-size: 16px;
}

ul li a {
  color: var(--grad--blueskay);
  text-decoration: none;
}
.copyright {
  color: #e6db79;
}
/* Estilo para el enlace "Volver al inicio" */

.back-to-top {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  color: #f26608;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
